.container {
    height: 100%;
    width: 100%;

    div {
        height: 100% !important;
        width: 100% !important;
        border-radius: 20px !important;

        div {

            div:nth-child(2) {
                top:92%;
            }
        }
    }
}


